* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

header {
	margin: 0 auto;
	width: 100%;
	height: 80px;
	background-color: #2bcbba;
	position :fixed;
  	top: 0;
  	z-index: 100;
}
.clear {
  clear: left; }
.logo {
  padding:5px 15px;
  float:left;
  border: 2px solid #3867d6;
  background-color:#8854d0;
  border-radius:8px;
  margin-top:20px;
  font-size:25px;
  position:relative;
  margin-right:50px;
} 
.left-header {
	margin-left: 20px;
}
.list-header li {
	display: inline-block;
	margin-left: 25px;
	padding: 5px;
	background-color: #0fb9b1;
	border-radius: 5px;
	border-left: 2px solid #4b6584;
	border-right: 2px solid #4b6584;
	margin-top: 28px;
	float:left;
	position:relative;
}
.list-header li:hover {
	background-color: #26de81;
	color:white;
}
.list-header a:active {
	color: white;
}
.right-header {
	float:right;
	margin-right: 20px;
	margin-top: 23px;
}
.search {
	padding:8px 15px; 
	background: #f0f8ff; 
	border:2px solid #008080;
}
.button {
	position:relative;
	left:-4px; padding:10px 15px; 
	border:0px solid #008080; 
	background-color: #26de81; 
	color:#fafafa;
	font-weight:bold;
}
.button:hover {
	background: #008080;
	color:#fafafa;
}
.button:active {
	background:#9ACD32;
}
.bar-menu {
  color: black;
  float: right;
  font-size: 35px;
  padding: 21px 0;
  margin-right:20px;
  display: none;
}
